resource_group_name  = "rg-liftoff-tfstate"
storage_account_name = "<state-storage-account>"
container_name       = "<state-container>"
key                  = "telemetry/production.tfstate"
use_azuread_auth     = true
